@import "~bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  margin-top: 1em;
}

p {
  font-weight: bold;
}
